@import "pure-drawer-override.css";

body {
  background-color: #ffffff;
}

div {
  display: block;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 150px; /* height (including when it's folded) of your footer + a (how much you wnat white space when the screen width is narrow). 80px covers the minimum device width with 280px */
}

/********** Start front **********/
/* Gradient background */
.gradient {
  display: block;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/********** End front **********/

/********** Start navbar **********/

.logo img {
  position: fixed;
  margin: 9px 0px 0px -5px;
  width: 40px;
}

nav.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 62px;
}

nav.navbar.bg {
  margin-bottom: 0px;
  transition: all 0.5s ease 0s;
}

nav.navbar.bg.top-of-page {
  background-color: transparent;
}

/* Position of texts of navbar */
ul.nav-items {
  text-align: right;
}

/* Style of the texts of navbar */
ul.nav-items > li {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: -1px;
  text-align: right;
  padding: 24px 0px 0px 30px;
}

/* Text contents in the navbar */
.nav-items a {
  color: #ffffff;
  text-decoration: none;
}

li.work.home a,
li.about.home a,
li.contact.home a {
  transition: all 0.2s ease 0s;
}

li.work.home a:focus,
li.about.home a:focus,
li.contact.home a:hover,
li.work.home a:hover,
li.about.home a:hover,
li.contact.home a:hover {
  color: #d8f8fd;
  text-decoration: none;
}

.col-xs-11 {
  display: none;
}
/********** End navbar **********/

/********** Start canvas **********/
.canvas {
  background-color: #ffffffd7;
  margin-top: 130px;
  border-radius: 15px;
}
/********** End canvas **********/

/********** Start texts **********/
.about-main-text {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #505050;
  padding-top: 30px;
}

.about-sub-text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #505050;
  padding: 30px 0px 40px 0px;
}

.logo-links {
  width: 100%;
}

.logo-container img {
  width: 50px;
}

.logo-container {
  padding: 0px 20px;
}

/********** Start texts **********/

/********** Start footer **********/
/* Contents including blank space */
.footer {
  font-size: 14px;
  background-color: transparent;
  color: #c7c7c7;
  text-align: center;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/********** End footer **********/
