@import "pure-drawer-override.css";

body {
  background-color: #ffffff;
  color: #333333;
}

div {
  display: block;
}

.col-xs-12 {
  min-height: 0px;
}

/* Gradient background */
.gradient {
  display: block;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.col-xs-12.full-width.main {
  height: 640px;
}

/* main text */
.main-text {
  font-size: 45px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  position: absolute; /* since this is child of container "col-xs-12.full-width.main" */
  text-align: center; /* vertically center-alligned */
  top: 50%; /* horizontally center-alligned */
  transform: translate(0, -50%); /* horizontally center-alligned */
  padding-left: 4%;
  padding-right: 4%;
  width: 100%; /* make the contents of this container align center */
}

.main-text .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.main-text .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 50%;
  width: 4px; /* thickness of the line */
  background-color: #fff;
  transform-origin: 0 50%;
}

.main-text .line1 {
  top: 18px; /* starting point of the text navi line from the top of the font */
  left: 0;
}

.main-text .main-letter {
  display: inline-block;
  line-height: 1em;
}

/* Sub text */
.sub-text {
  font-size: 22px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.sub-text .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.sub-text .sub-letter {
  display: inline-block;
  line-height: 1em;
}

/* Sub text2 */
.sub-text2 {
  font-size: 22px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  position: relative;
  text-align: center;
}

.sub-text2 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.sub-text2 .sub-letter2 {
  display: inline-block;
  line-height: 1em;
}

/********** Home button and navbar **********/

.logo img {
  position: fixed;
  margin-top: 9px;
  margin-left: -5px;
  width: 40px;
}

nav.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 62px;
}

nav.navbar.bg {
  margin-bottom: 0px;
  transition: all 0.5s ease 0s;
}

nav.navbar.bg.top-of-page {
  background-color: transparent;
}

/* Position of texts of navbar */
ul.nav-items {
  text-align: right;
}

/* Style of the texts of navbar */
ul.nav-items > li {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: -1px;
  padding-top: 20px;
  text-align: right;
  padding-top: 24px;
  padding-left: 30px;
}

/* Text contents in the navbar */
.nav-items a {
  color: #ffffff;
  text-decoration: none;
}

li.work.home a,
li.about.home a,
li.contact.home a {
  transition: all 0.2s ease 0s;
}

li.work.home a:focus,
li.about.home a:focus,
li.contact.home a:hover,
li.work.home a:hover,
li.about.home a:hover,
li.contact.home a:hover {
  color: #f047d4;
  text-decoration: none;
}

.col-xs-11 {
  display: none;
}

/********** Project **********/

/* Remove padding of each img on right and left */
.col-xs-12 {
  padding: 0px;
}

/* Change img to wider one at width 1312 (also see media-queries) */
/* Connect each image with overlap */
.project img {
  display: block;
  width: 100%;
  margin-top: -2px;
  /* position: relative; */
}

.project-wide img {
  display: none;
  width: 100%;
  margin-top: -2px;
}

/* Make focus animation for each project image when hovering without changing the size of image */
/* position of all elements in the animation space should be "relative", otherwise they disappear */
div.project-full img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

div.project-full:hover img {
  -webkit-transform: scale(1.05); /* Safari and Chrome */
  -moz-transform: scale(1.05); /* Firefox */
  -ms-transform: scale(1.05); /* IE 9 */
  -o-transform: scale(1.05); /* Opera */
  transform: scale(1.05);
}

div.project-full {
  overflow: hidden;
  background-color: #000;
}

/* Project name and role */

/* Remove the underline (affected by the pure drawer css) of project texts */
.col-xs-12.full-width a:hover {
  text-decoration: none;
}

#project-texts {
  position: absolute; /* since this is child of container "col-xs-12.full-width.main" */
  text-align: center; /* vertically center-alligned */
  top: 25%; /* horizontally center-alligned */
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
}

#project2-texts {
  position: absolute; /* since this is child of container "col-xs-12.full-width.main" */
  text-align: center; /* vertically center-alligned */
  top: 25%; /* horizontally center-alligned */
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
}

#project3-texts {
  position: absolute; /* since this is child of container "col-xs-12.full-width.main" */
  text-align: center; /* vertically center-alligned */
  top: 25%; /* horizontally center-alligned */
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
}

h1.project-name {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -1px;
  color: #fff;
}

p.project-description {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #fff;
}

/********** Footer **********/
/* Canvas */
.container-fluid.footer-pad {
  background-color: #fff;
  text-align: center;
  position: relative; /* use this with z-index 1 to make the current layer higher than others. to fix the hight of the last image. */
  z-index: 1;
}
/* Contents including blank space */
.footer.content {
  margin: 90px 0 90px 0;
}
.main-btn {
  background-color: rgb(0, 26, 34);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border: none;
  color: #ffffff;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  /* box-shadow: 0 0px 20px rgba(0,0,0,0.2); */
  opacity: 0.8;
  outline: none;
  transition: all 0.1s ease;
}
.main-btn:hover {
  background-color: #f047d4;
  color: #ffffff;
  opacity: 1;
  transform: scale(1.05, 1.05);
}
.main-btn:active {
  background-color: #f047d4;
  color: #ffffff;
  opacity: 1;
  transform: scale(1.02, 1.02);
}
