@import "pure-drawer-override.css";

body {
  background-color: #ffffff;
}

div {
  display: block;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 150px; /* height (including when it's folded) of your footer + a (how much you wnat white space when the screen width is narrow). 80px covers the minimum device width with 280px */
}

/********** Start front **********/
/* Gradient background */
.gradient {
  display: block;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/********** End front **********/

/********** Start navbar **********/

.logo img {
  position: fixed;
  margin-top: 9px;
  margin-left: -5px;
  width: 40px;
}

nav.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 62px;
}

nav.navbar.bg {
  margin-bottom: 0px;
  transition: all 0.5s ease 0s;
}

nav.navbar.bg.top-of-page {
  background-color: transparent;
}

/* Position of texts of navbar */
ul.nav-items {
  text-align: right;
}

/* Style of the texts of navbar */
ul.nav-items > li {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: -1px;
  padding-top: 20px;
  text-align: right;
  padding-top: 24px;
  padding-left: 30px;
}

/* Text contents in the navbar */
.nav-items a {
  color: #ffffff;
  text-decoration: none;
}

li.work.home a,
li.about.home a,
li.contact.home a {
  transition: all 0.2s ease 0s;
}

li.work.home a:focus,
li.about.home a:focus,
li.contact.home a:hover,
li.work.home a:hover,
li.about.home a:hover,
li.contact.home a:hover {
  color: #d8f8fd;
  text-decoration: none;
}

.col-xs-11 {
  display: none;
}
/********** End navbar **********/

/********** Start canvas **********/
.canvas {
  background-color: #ffffffd7;
  margin-top: 130px;
  border-radius: 15px;
}
/********** End canvas **********/

/********** Start texts **********/
.main-text {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
 line-height: 1.5;
  color: #505050;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
}

.sub-text {
  font-size: 14px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  color: #505050;
  padding: 15px 30px 0px 30px;
}

.feature-title {
  font-size: 18px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #505050;
  padding: 20px 30px 0px 30px;
}

.feature {
  font-size: 14px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  color: #505050;
  padding: 10px 30px 100px 30px;
}

/********** Start texts **********/

/********** Start footer **********/
/* Contents including blank space */
.footer {
  font-size: 14px;
  background-color: transparent;
  color: #c7c7c7;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/********** End footer **********/

/********** Start go-to-top button **********/
#top-button {
  display: inline-block;
  /* color: #8f8f8f; */
  width: 50px;
  height: 70px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#top-button:hover {
  cursor: pointer;
  text-decoration: none;
}
#top-button:active {
  text-decoration: none;
}
#top-button.show {
  opacity: 1;
  visibility: visible;
}

.material-icons {
  font-size: 48px;
  color: #ffffff;
}

.top {
  font-size: 18px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin-top: -15px;
  letter-spacing: 2px;
  padding-left: 2px; /* make text look center to icon */
}
/********** End go-to-top button **********/
