@import "pure-drawer.min.css";

/********** Hamburger and x **********/

/* the right margin of the hamburger */
.pure-toggle-label[data-toggle-label="right"] {
  right: 0px;
}

/* style of hamburger */
.pure-toggle-label .pure-toggle-icon,
.pure-toggle-label .pure-toggle-icon:before,
.pure-toggle-label .pure-toggle-icon:after {
  background: #ffffff;
  transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  border-radius: 3px;
}

/* colour of hamburger when hovering */
.pure-toggle-label:hover .pure-toggle-icon,
.pure-toggle-label:hover .pure-toggle-icon:before,
.pure-toggle-label:hover .pure-toggle-icon:after {
  background-color: #d8f8fd;
  border-color: #d8f8fd;
  color: #d8f8fd;
}

/* style and position of the hamburger circle */
.pure-toggle-label {
  border: 2px #d8f8fd;
  color: #d8f8fd;
  top: -4px;
}

/* colour of the hamburger circle when hovering */
.pure-toggle-label:hover {
  border-color: #ffffff00;
  color: #ffffff00;
}

/********** contents of drawer **********/

/* colour of menu contents */
a {
  color: #ffffff;
}

/* colour of menu contents when hovering */
p.mobile-menu-items a:hover {
  color: #d8f8fd;
  text-decoration: none;
}

.pure-container {
  height: 0%;
}

/* color of drawer */
.pure-drawer {
  background-color: rgba(30, 37, 40, 0.97);
  position: fixed;
}

/* Style of the contents of drawer */
p.mobile-menu-items {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 77px;
}
/* Speed to open and close drawer */
[data-effect="pure-effect-slide"] .pure-drawer {
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
}