@media screen and (min-width: 688px) {
  /* Switch design of navbar */
  .pure-toggle-label {
    display: none;
  }
  nav.navbar {
    width: 100%;
    height: 80px;
  }
  nav.navbar.bg {
    background-color: #1d2527af; /* Change transparency here instead of opacity, otherwise other text elements get affected. */
    border-radius: 0%;
  }
  .col-xs-11 {
    display: block;
  }

  .main-text {
    font-size: 70px;
  }
  .main-text .line1 {
    top: 25px; /* starting point of the line from top */
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1312px) {
  /* Switch between normal(small) and wider background pics */
  .project img {
    display: block;
  }
  .project-small img {
    display: none;
  }
}
