@media screen and (min-width: 765px) {
  .pure-toggle-label {
    display: none;
  }
  nav.navbar {
    width: 100%;
    height: 70px;
  }
  nav.navbar.bg {
    background-color: rgb(30, 37, 40);
  }
  .col-xs-11 {
    display: block;
  }
}
