* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

@media screen and (min-width: 688px) {
  ul .catPics {
    width: 688px;
    margin-right: auto;
    margin-left: auto;
  }
  img {
    border-radius: 5px;
  }
}