/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol {
	list-style: lower-alpha;
	margin-left: 25px;
}
ul {
	list-style: square;
	margin-left: 25px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  margin: 0;
  min-width: 250px;
  background-color: #eeeeee;
  background-image: url("https://source.unsplash.com/1920x1080/?mountain");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  background-position: center center;
}
* {
  box-sizing: border-box; /* Include the padding and border in an element's total width and height */
}
.header {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #f5f5f5;
  display: flex;
}
input {
  background-color: #f5f5f5;
  margin: 0;
  margin-right: -1px; /* Overlap 1px to the input element to connect elements in any devices */
  border: none;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  width: 100%;
  padding: 15px;
  padding-left: 25px;
  font-size: 18px;
  outline: none;
}
.addButton {
  padding: 13px;
  width: 80px;
  background: #f5f5f5;
  cursor: pointer;
  transition: 0.3s;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}
#pen {
  width: 22px;
  height: 22px;
}
#pen path {
  fill: #979797;
}
ul {
  margin: 0;
  padding: 0;
  width: 92%;
  display: block; 
  margin-right: auto; 
  margin-left: auto;
}
ul li {
  cursor: pointer;
  position: relative;
  margin-bottom: -1px;
  padding: 12px 8px 12px 40px;
  list-style-type: none; /* Remove any circle, square or number before each list element */
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #4b4b4b;
  transition: 0s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:nth-child(odd) {
  background: #ececec;
}
ul li.checked {
  background: #888;
  color: #f5f5f5;
  text-decoration: line-through;
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #f5f5f5;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.closeButton:hover {
  background-color: #ffbb00;
  color: #292929;
}
@media only screen and (min-width: 768px) {
  .header {width: 691px;} /* 768 x 0.9 = 691.2  0.9 is because width: 90%; in header */
  ul {width: 707px; display: block; margin-right: auto; margin-left: auto;} /* 768 x 0.92 */
}